/****************Font Face Formatting****************/

/*Varela Round*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/****************End of Font Face Formatting****************/

/****************KeyFrame Formatting****************/

/****************End of KeyFrame Formatting****************/

/****************General Formatting****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HTML Formatting*/
html {
    scroll-behavior: smooth;/*Smooth Scroll behavior*/
}

/*Body Formatting*/
body {
    background-image: url(../images/codeDropBg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Root Formatting*/
 :root {
    --navbar-font: 'Varela Round', sans-serif;
    --primary-font: 'Montserrat', sans-serif;
 }

/****************End of General Formatting****************/

/****************Header Formatting****************/

/**Navbar formatting**/

/*Format navbar margin*/
.navbar {
    margin: 30px;
    border-radius: 10px;
}

/*Increase navbar brand font*/
.container-fluid a {
    font-size: 3.8rem;
}

.navbar-brand {
    font-family: var(--primary-font);
    font-weight: bolder;
    letter-spacing: 2px;
}

/*Format navbar brand span*/
.navbar-brand span {
    color: #610f7f;
}

/*Format nav items*/
.nav-item {
    font-size: 3.5rem;
    font-family: var(--navbar-font);
    letter-spacing: 2px;
    margin: 0 10px;
}

/*Format menu icon*/
.navbar .navbar-toggler {
    border: 5px solid black;
}

.navbar-toggler-icon {
    color: white;
    font-size: 3.5rem;
}
/****************End of Header Formatting****************/

/****************Section Formatting****************/

/**Format hero section**/
.heroSect {
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: normal;
    flex-direction: column;
}

/*Format heroContent margins*/
.heroContent {
    margin: 0 20px;
}

/*Format hero content text*/

.heroContent h2, h4, p {
    font-family: var(--primary-font);
}

/*Format h4 tag size*/
.heroContent h4 {
    display: inline-block;
    width: auto;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px 0;
    background-image: linear-gradient(to right top, #31124c, #3d2970, #424298, #3b5dc1, #127aeb);
    padding: 50px;
    border-radius: 10px;
    color: white;
}

/*Format h2 tag size*/
.heroContent h2 {
    font-size: 6.5rem;
    color: white;
    font-weight: bolder;
}

/*Format p tag size*/
.heroContent p {
    font-size: 2.8rem;
    letter-spacing: 1px;
    line-height: 2;
    color: white;
}

/*Format lets connect link*/
.heroContent a {
    text-decoration: none;
    font-family: var(--navbar-font);
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 20px 0;
    color: white;
    display: inline-flex;
    align-items: center;
}

/*Format link icon to be in line with text*/
.heroContent a i {
    margin: 0 10px;
    font-size: inherit;
    border: 5px solid white;
    border-radius: 50%;
}

/*Format hero img container*/
.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*Format hero img*/
.heroImage img {
    margin: 20px;
    padding: 50px;
    width: 80%;
    border-radius: 50%;
    border: 10px solid white;
}


/**Skills Section Formatting**/
.skillSect {
    background-image: linear-gradient(to right top, #5811e0, #782ee6, #9346ed, #ab5df4, #c074fb);
    padding: 60px;
    display: flex;
    justify-content: left;
    align-items: normal;
    flex-direction: column;
    margin-top: 200px;
}

/*Format skills section content*/
.skillContent {
    width: 900px;
    background-color: #310E68;
    padding: 20px;
    border-radius: 100px; 
    position: relative;/*Format skills position to be in the center*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

/*Format skills content h2 tag*/
.skillContent h2 {
    font-family: var(--primary-font);
    font-size: 8rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    color: white;
}

/*Format skills content p tag*/ 
.skillContent p {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 2;
    color: white;
    text-align: center;
}

/*Center carousel items*/
.carousel-item {
    text-align: center;
}

/*Format carousel items h3 tags*/
.carousel-item h3 {
    font-family: var(--primary-font);
    font-weight: bolder;
    color: white;
    font-size: 6rem;
    letter-spacing: 2px;
}

