/**General Formatting**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**End of General Formatting**/

/**Font Faces**/
@font-face {
    font-family: 'Goldman-Bold';
    src: url(../fonts/Goldman-Bold.ttf);
}
/**End of Font Faces**/

/**Header Formatting**/

/*Format header tag*/
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Format header h1 tag*/
header h1{
    font-family: 'Goldman-Bold';
    font-size: 3.8em;
    letter-spacing: 2px;
}

/*Format menu i tag*/
header i {
    font-size: 6em;
    cursor: none;
}
/**End of Header Formatting**/