/**Import fonts**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
/**End of Import fonts**/

/**General Formatting**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Format link scrolling behavior*/
html {
    scroll-behavior: smooth;
}

/*Create section appear format*/
section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/*Create section appear animation*/
section.appear {
    opacity: 1;
    transform: translateY(0);
}
/**End of General Formatting**/

/**Font Faces**/


@font-face {
    font-family: 'Goldman-Bold';
    src: url(../fonts/Goldman-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}
/**End of Font Faces**/

/**Keyframe Formatting**/
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fillWidth {
    from {
        width: 0%;
    }
    to {
        width: var(--target-width);
    }
}
/**End of Keyframe Formatting**/

/**Header Formatting**/

/*Format header tag*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Create fade down animation*/
    animation: fadeDown 1s ease;
    background-color: white;
    /*Create smooth transition*/
    transition: 0.5s ease;
}



/*Format header h1 tag*/
header h1{
    font-family: 'Goldman-Bold';
    font-size: 3.8em;
    letter-spacing: 2px;
}

/*Format header h1 span tag*/
header h1 span {
    color: lightcoral;
}

/*Format menu i tag*/
header i {
    font-size: 6em;
    cursor: none;
    border: 5px solid lightcoral;
    border-radius: 8px;
    color: lightcoral;
}


/*Hide nav menu on mobile*/
#navMenu {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background-color: white;
    z-index: 1001;
    opacity: 0;
    transition: right 0.7s ease-in, opacity 0.7s ease-in;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur to the area behind the element */
}

/*Format nav list*/
#navMenu ul {
    list-style: none;
}

/*Format nav list items*/
#navMenu ul li {
    text-align: center;
    margin: 10px 0;
}

/*Format nav list links*/
#navMenu ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    color: lightcoral;
}

/*Format menu icon*/
#menuIcon {
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 1002;
}

/*Show nav menu when menu icon is clicked*/
#navMenu.active {
    display: block;
    right: 0;
    opacity: 1;
}
/**End of Header Formatting**/

/**Home Section Formatting**/
.homeFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-image: url(../images/darkBackgroundHeader.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}

/*Format home section h2 tag*/
.homeFormat h2 {
    font-size: 7em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

/*Format home section h2 span tag*/
.homeFormat h2 span {
    color: lightcoral;
}

/*Format home section button link*/
.homeFormat .btn-primary {
    font-size: 40px;
    display: inline-block;
    width: 400px;
    padding: 30px 20px;
}
/**End of Home Section Formatting**/

/**My Portfolio Section Formatting**/
.portfolioFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

/*Format portfolio section h2 tag*/
.portfolioFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Format portfolio section h2 span tag*/
.portfolioFormat h2 span {
    color: lightcoral;
}

/*Format portfolio grid container*/
.portfolioGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

/*Format portfolio grid items*/
.portfolioGridItem {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
    padding: 40px;
}

/*Format portfolio grid items img*/
.portfolioImgContainer {
    background-color: lightcoral;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 50px;
}

.portfolioImgContainer img{
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Format portfolio grid items h3*/
.portfolioTitleContainer h3{
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 20px;
}

/*Format portfolio grid items p*/
.portfolioTitleContainer p{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}
/**End of My Portfolio Section Formatting**/

/**About Section Formatting**/
.aboutFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

/*Format about section h2 tag*/
.aboutFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Format about section h2 span tag*/
.aboutFormat h2 span {
    color: lightcoral;
}

/*Format creator img container*/
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/*Format creator img*/
.creatorFormat {
    max-width: 70%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Format about creator text*/
.aboutText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 50px;
}

/*Format about text quotes in span tag*/
.aboutText p span {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: lightcoral;
 font-size: 1.5em;
 font-weight: bolder;
}
/**End of About Section Formatting**/

/**Education Section Formatting**/
.educationFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

/*Format education section h2 tag*/
.educationFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Format education section h2 span tag*/
.educationFormat h2 span {
    color: lightcoral;
}


/*Format timeline container*/
.timelineContainer {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timelineContainer::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: lightcoral;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/*Format timeline item*/
.container {
    position: relative;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lightcoral;
    border: 3px solid white;
    border-radius: 50%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/*Format timeline content*/
.timelineContent {
    width: 100%;
    padding: 15px;
    background-color: lightcoral;
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Format timeline content h3 tag*/
.timelineContent h3 {
    margin-top: 20px;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
}

/*Format timeline content h4 tag*/ 
.timelineContent h4 {
    margin-top: 20px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 2;
}
/**End of Education Section Formatting**/

/**Services Section Formatting**/
.servicesFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #f8fbfc;
}

/*Format services section h2 tag*/
.servicesFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Format services section h2 span tag*/
.servicesFormat h2 span {
    color: lightcoral;
}

/*Format services section p tag*/
.servicesFormat p {
    font-size: 2.2em;
    font-family: 'Roboto-Regular';
    letter-spacing: 2px;
    margin-bottom: 50px;
    text-align: center;
    color: darkgray;
}

/*Format services grid container*/
.servicesGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
}

/*Format grid service item*/
.serviceGridItem {
    border-radius: 8px;
    padding: 40px;
    background-image: url(../images/darkCardTheme.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Format grid service item icon*/
.serviceGridItem i {
    font-size: 12em;
    margin-bottom: 40px;
    color: white;
}
/*Format grid service item h3 tag*/
.serviceGridItem h3 {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: white;
}

/*Format grid service item p tag*/
.serviceGridItem p {
    font-size: 2.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 2;
    color: white;
    text-align: left;
}
/**End of Services Section Formatting**/

/**Skills Section Formatting**/

/*Format skills section*/
.skillsFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #f8fbfc;
}


/*Format skills grid container*/
.skillsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
}

/*Format section title*/
.skillsFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}   

/*Format section title span*/
.skillsFormat h2 span {
    color: lightcoral;
}


/*Format grid skill item*/
.skillGridItem {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
    padding: 40px;
}

/*Format skill grid item i tag*/
.skillGridItem i {
    font-size: 7em;
}

/*Format each skill icon*/
.skillGridItem .bxl-html5 {
    color: #e34c26;
}

.skillGridItem .bxl-css3 {
    color: #264de4;
}

.skillGridItem .bxl-javascript {
    color: #f7df1e;
}

.skillGridItem .bxl-bootstrap {
    color: #563d7c;
}

.skillGridItem .bxl-react {
    color: #61dbfb;
}

.skillGridItem .bxl-nodejs {
    color: #68a063;
}

.skillGridItem .bxl-python {
    color: #3776ab;
}

.skillGridItem .bxl-github {
    color: #211f1f;
}

.skillGridItem .bxl-jquery {
    color: #0769ad;
}

.skillGridItem .bxl-git {
    color: #f1502f;
}

.skillGridItem .bxs-data {
    color: lightblue;
}

/*Format skill grid item h3 tag*/
.skillGridItem h3 {
    font-size: 3em;
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 20px;
}

/*Format progress container*/
.progress {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

/*Format progress bar fill*/
.progressFill {
    background-color: #4caf50;
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
    border-radius: 20px;
}

/*Format skill percentage span*/
.skillGridItem span {
    font-size: 3em;
    font-family: monospace;
    font-weight: bolder;
    color: lightcoral;
    letter-spacing: 2px;
    margin-top: 20px;
}

/**End of Skills Section Formatting**/

/**Contact Information Formatting**/
.contactFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #f8fbfc;
}

/*Format section title*/
.contactFormat h2 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Format section title span*/
.contactFormat h2 span {
    color: lightcoral;
}

/*Format contact container*/
.contactContainer {
    display: flex;
    gap: 60px;
    flex-direction: column;
}

/*Format contact form labels*/
.contactContainer label {
    font-size: 3em;
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 2px;
}

/*Format contact form inputs*/
.contactContainer input[type="text"],
.contactContainer input[type="email"],
.contactContainer input[type="tel"],
.contactContainer textarea {
   display: inline-block;
   width: 100%;
   font-size: 3.5em;
   border-radius: 8px;
   border: 1px solid black;
   margin-bottom: 20px;
}

/*Format input placeholder*/
.contactContainer input::placeholder, .contactContainer textarea::placeholder {
    font-style: italic;
}

/*Format contact form select box*/
.contactContainer select {
    display: inline-block;
    width: 100%;
    font-size: 3.5em;
    font-family: sans-serif;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
}

/*Format form submit button*/
.contactContainer input[type="submit"] {
    display: inline-block;
    width: 100%;
    font-size: 3.5em;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;/*Smooth hover transition*/
}

/*Format form submit button hover*/
.contactContainer input[type="submit"]:hover {
    background-color: white;
    color: lightcoral;
    border: 1px solid lightcoral;
    font-weight: bolder;
}

/*Format creator information headers*/
.contactContainer .creatorInfo h3 {
    font-size: 4.5em;
    font-family: monospace;
    font-weight: bolder;
}

.contactContainer .creatorInfo h4 {
    font-size: 3em;
    font-family: 'Roboto-Regular';
    color: rgb(86, 86, 86);
}

/*Format creator contact information text*/
.contactContainer .creatorInfo p {
    font-size: 2.2em;
    font-family: 'Roboto-Regular';
    letter-spacing: 2px;
    color: darkgray;
}

/*Format creator information a links*/
.contactContainer .creatorInfo a {
    font-size: 2.2em;
    font-family: 'Roboto-Regular';
    letter-spacing: 2px;
    color: darkgray;
    text-decoration: none;
    transition: 0.5s ease;/*Smooth hover transition*/
}

/*Format creator information a links hover*/
.contactContainer .creatorInfo a:hover {
    color: lightcoral;
}

/*Format social media links*/
.contactContainer .creatorInfo .socials {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

/*Format social media links*/
.contactContainer .creatorInfo .socials a {
    color: black;
}

.contactContainer .creatorInfo .socials a i {
    font-size: 2.3em;
    border: 5px solid black;
    padding: 12px;
    border-radius: 50%;
    transition: 0.5s ease;/*Smooth hover transition*/
}


/*Format social media links hover*/
.contactContainer .creatorInfo .socials a:hover i {
    color: lightcoral;
    border: 5px solid lightcoral;
}
/**End of Contact Information Formatting**/

/**Footer Formatting**/

/*Format footer tag*/
footer {
    text-align: center;
    padding: 40px;
    color: rgb(86, 86, 86);
    font-size: 1.8em;
    font-family: 'Roboto-Regular';
}

/*Format footer link*/
footer a {
    color: rgb(86, 86, 86);
    text-decoration: none;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Format footer link hover*/
footer a:hover {
    color: lightcoral;
}
/**End of Footer Formatting**/


/**Privacy Formatting**/
.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8fbfc;
}

/*Format privacy headers*/
.privacy h1 {
    font-size: 6em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

.privacy h2 {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

.privacy h3 {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

.privacy h4 {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

.privacy h1, .privacy h2,  .privacy h3, .privacy h4 {
    color: lightcoral;
}

/*Format privacy p tag*/
.privacy p {
    font-size: 2em;
    font-family: sans-serif;
    margin-bottom: 50px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5;
}

/*Format privacy ul tag*/
.privacy ul {
    font-family: sans-serif;
    margin-bottom: 50px;
    text-align: left;
}

/*Format privacy li tag*/
.privacy ul li {
    font-size: 20px;
}
/**End of Privacy Formatting**/


/**Scroll to top button formatting**/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Format button arrow size*/
#myBtn i {
    font-size: 5em;
}

#myBtn:hover {
    background-color: #555;
}
/**End of Scroll to top button formatting**/


/**Media Queries**/

/*tablet media query*/
@media screen and (min-width: 768px) and (max-width: 900px) {
    /*Home section Formatting*/
    .homeFormat {
        height: 40vh;
    }

    /*Format home section title*/
    .homeFormat h2 {
        font-size: 3.5em;
    }

    /*Format home section button*/
    .homeFormat .btn-primary {
       font-size: larger;
       width: 250px;
    }
}

/*Desk top media query*/
@media screen and (min-width: 1000px) {
   /*Header formatting*/
   header h1 {
       font-size: 4em;
       width: 100%;
   }

    /*Create sticky background color when scrolling*/
    header.sticky {
        color: white;
        background-color: rgba(0,0,0,0.8);
        backdrop-filter: blur(10px);
    }

    /*Nav bar formatting*/

    /*Hide hamburger menu*/
    #menuIcon {
        display: none;
    }

    /*Make nav bar static*/
    #navMenu {
        position: sticky;
        top: 0;
        background-color: transparent;
        backdrop-filter: none;
        justify-content: center;
        opacity: 1;
        right: 0;
        width: 100%;
    }

    /*Format nav bar list for desktop horizontal layout*/
    #navMenu ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Format nav bar list items for desktop horizontal layout*/
    #navMenu ul li {
        margin: 0 20px;
    }

    /*Format nav bar links for desktop horizontal layout*/
    #navMenu ul li a {
        font-size: 1.5em;
        transition: 0.5s ease;/*Create smooth hover transition*/
        width: 100%;
    }

    /*Format nav bar links hover for desktop horizontal layout*/
    #navMenu ul li a:hover {
        background-color: white;
        padding: 10px;
        border-radius: 25px;
    }
    
    /*Home section Formatting*/
    .homeFormat {
        height: 100vh;
    }

    /*Format home section title*/
    .homeFormat h2 {
        font-size: 5em;
        margin-bottom: 100px;
    }

    /*About section formatting*/
    .aboutContainer {
       display: flex;
    }

    /*Format about section creator img*/
    .aboutContainer .imgContainer img {
        width: 900px;
    }

    /*Format about section text*/
    .aboutText {
        font-size: 1.5em;
    }

    /*Services section Formatting*/
    .servicesGrid {
        display: grid;
        /*Create a grid with 3 columns and 2 rows*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    /*Format grid items*/
    .servicesGrid .serviceGridItem {
        padding: 0;
        transition: 0.5s ease;/*Create smooth hover transition*/
    }

    /*Create grid item hover effect*/
    .servicesGrid .serviceGridItem:hover {
        transform: scale(1.1);
        border: 3px solid #1E90FF;
    }

    /*Format services grid icon*/
    .servicesGrid .serviceGridItem i {
        font-size: 5em;
        padding-top: 10px;
        padding-left: 10px;
    }

    /*Format services grid title*/
    .servicesGrid .serviceGridItem h3 {
        font-size: 2em;
        padding-left: 10px;
    }

    /*Format services grid description*/
    .servicesGrid .serviceGridItem p {
        font-size: 15px;
        padding-left: 10px;
    }

    /*Format education section*/
    
    /*Format timeline items*/
    .timelineContent{
        font-size: 10px;
    }

    /*Portfolio section Formatting*/
    .portfolioGridContainer {
        display: grid;
        /*Create a grid with 3 columns and 2 rows*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    /*Format grid items*/
    
    

    /*Format grid item title*/
    .portfolioTitleContainer h3 {
        margin-top: 10px;
        font-size: 2em;
    }

    /*Format grid item description*/
    .portfolioTitleContainer p {
        font-size: 20px;
    }

    /*Contact section Formatting*/
    .contactContainer {
        display: flex;
        flex-direction: row-reverse;
        gap: 200px;
    }

    /*Format creator info social media links*/
    .socials {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    /*Format creator info social media icons*/
    .contactContainer .creatorInfo .socials a i {
        font-size: 1em;
        border: 2px solid black;
    }

    /*Format creator info social media icons hover*/
    .contactContainer .creatorInfo .socials a i:hover {
        border: 2px solid lightcoral;
    }

    /*Format contact form labels*/
    .contactForm label {
        font-size: 1.5em;
    }

    /*Format contact form inputs*/
    .contactForm input[type="text"],
    .contactForm input[type="email"],
    .contactForm input[type="tel"],
    .contactForm textarea {
        font-size: 2em;
    }

    /*Format select input container*/
    .contactForm select {
        font-size: 1em;
        height: 100%;
    }

    /*Format submit button*/
    .contactForm input[type="submit"] {
        font-size: 1.5em;
        width: 100%;
    }
    

}

/**End of Media Queries**/